@charset "utf-8";
/* CSS Document */
.box_in {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

.text_small {
	font-size: 13px;
	color: #9C9C9C;
}

.box_select {
	background-color: #ECECEC;
	border-top: #7CAF7B thick solid;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	height: 28px;
}

.text_tag {
	font-size: 13px;
	color: #5C5C5C;
	float:left;
	margin-top:4px;
}

.button_style {
	background-color: #CCE3C5;
	border:none;
	color:#416242;
}

.button_style:hover {
	background-color: #60964F;
	border: none;
	color: #FFFFFF;
}

.box_news {
	margin-top: 20px;
	border: thin solid #DFEFE4;
	padding: 15px;
	border-radius: 4px;
	height: 155px;
	overflow:hidden;
}

.text_head_small {
	color: #71967E;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 14px;
	font-weight: bold;
	border-bottom: thin solid #DFEFE4;
	padding-bottom: 5px;
}

.text_head_small a {
	color: #71967E;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 14px;
	font-weight: bold;
	border-bottom: thin solid #DFEFE4;
	padding-bottom: 5px;
}

.text_content {
	font-size: 12px;
	color: #989898;
	float: left;
	margin-top:20px;
	margin-left:20px;
	width:840px;
	overflow:hidden;
	word-wrap:break-word;
}

.button_given {
	background-color: #62AC6E;
	width: 100px;
	height: 22px;
	text-align: center;
	padding-top: 2px;
	color: #FFFFFF;
}