@charset "utf-8";
/* CSS Document */
.box_in {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height:	600px;
	border: thin solid #C8D3D0;
	padding: 20px;
}

.box_user_info {
	width:320px;
	float:left;
	border-right: thin solid #C8D3D0;
	padding-right:20px;
}

.user_info {
	height: 160px;
	padding: 20px;
	background-color: #EFEFEF;
}

.user_icon {
	height: 103px;
	width: 103px;
	float: left;
	padding: 3px;
	border: thin solid #B9B9B9;
}

.user_info_detail {
	padding-left:30px;
	float: left;
}

.user_give {
	overflow:hidden;
	padding: 20px;
	background-color: #EFEFEF;
	margin-top:5px;
}

.user_give_in {
	margin-top: 10px;
	border-top: thin solid #94A396;
}

.my_activity {
	width:608px;
	float:left;
	margin-left:30px;
}

.my_activity_in {
	width: 608px;
	border-top: thick solid #D4E4D6;
	margin-top: 10px;
	padding-top: 20px;
}

.user_name_tag {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: bold;
	font-size: 28px;
	color:#686868;
}

.text_name {
	color: #000000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: bold;
	font-size: 14px;
}

.text_tag {
	color: #737272;
	font-size: 14px;
}

.text_level {
	color:#0E9011;
	font-weight:bold;
	font-size:14px;
}

.text_give {
	color: #737272;
	font-size: 14px;
	float:left;
	margin-top:5px;
}

.text_give_num {
	color: #0F431D;
	font-size: 14px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.icon {
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
}

.box_home {
	border: medium solid #90B895;
	padding:10px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	border-radius: 6px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 43.52%,rgba(237,245,239,1.00) 99.48%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 43.52%,rgba(237,245,239,1.00) 99.48%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 43.52%,rgba(237,245,239,1.00) 99.48%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,1.00) 43.52%,rgba(237,245,239,1.00) 99.48%);
}



