@charset "utf-8";
/* CSS Document */
.box_out {
	height:40px;
	width:auto;
	background:#2B883F;
}

.box_in {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

.box_nav_in {
	margin-top: 7px;
	width: 120px;
	height: 26px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	float:left;
}

.box_nav_interval {
	float:left;
}

.box_top {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	height:50px;
}

.user_info {
	float: right;
	margin-top: 15px;
}

.text_small {
	color: #3C5740;
	font-size: 13px;
	float:left;
}

.text_user_center {
	float:left;
	background-color: #62AC6E;
	font-size:13px;
	margin-left:5px;
	width: 60px;
	height: 16px;
	text-align: center;
	color: #FFFFFF;
}

.text_link {
	color: #224E25;	
	font-size: 13px;
}

.text_without_link {
	color:#909090;
	font-size: 13px;
}
