/* CSS Document */
.weixix_box_out {
	border: #fff679 thin solid;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	position: absolute;
	z-index: 0;
}

.weixin_title_bar {
	background: url(../image/weixin_bar.png) bottom no-repeat;
	width: 435px;
	height: 53px;
}

.weixin_titie_text {
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 22px;
	color: #ed7000;
	float: left;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 25px;
}

.weixin_more {
	float: right;
	margin-top: 25px;
	margin-right: 22px;
}

.weixin_more a {
	color: #985638;
	font-size:14px;
	text-decoration:none;
}

.weixin_more a:hover {
	text-decoration:underline;
}

.weixin_select_box {
	width: inherit;
	height: 58px;
	overflow: hidden;
}

.weixin_select_in {
	height: 58px;
	width: 118px;
	float: left;
	background:url(../image/weixin_select.png) no-repeat;
	color: #ffffff;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 2px;
	text-decoration:none;
}

.weixin_select_in:hover {
	background:url(../image/weixin_select_1.png) no-repeat;
}

.weixin_content_box {
	margin-left: 25px;
	margin-right: 16px;
	margin-top: 5px;
	float: none;
	width: inherit;
	height: 280px;
	overflow:hidden;
}

.weixin_content_in {
	height: 30px;
}

.weixin_content_in a {
	color: #364a01;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
	text-decoration:none;
}

.weixin_content_in a:hover {
	text-decoration:underline;
}

#weixin_erweima{
	position: absolute;
	right: 2px;
	top: 53px;
	z-index:1;
	display: none;
}