/* CSS Document */
.box_out {
	width: 1036px;
	margin-left: auto;
	margin-right: auto;
	background: url(../image/background.png) repeat-y;
}

.box_in {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.title_bar {
	height: 49px;
	overflow: hidden;
	padding-bottom: 10px;
}

.title_content {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 700;
	font-size: 22px;
	color: #492607;
	letter-spacing: 2px;
	float: left;
	margin-top: 12px;
}

.title_image {
	float: left;
	margin-left: 10px;
}

.list_box {
	border: solid #f9bf68 thin;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.list_title_bar {
	height: 50px;
	background: url(../image/teacher_list_border_in.png) bottom no-repeat;
	overflow: hidden;
}

.list_title {
	float: left;
	color: #331800;
	font-size: 22px;
	font-weight: 600;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin-top: 12px;
	margin-left: 16px;
}

.list_button {
	float: right;
	width: 128px;
	height: 44px;
	margin-top: 3px;
	margin-right: 14px;
	background: url(../image/list_button_background.png) no-repeat;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
	font-weight: 600;
	padding-top: 13px;
	color: #ffffff;
	letter-spacing: 1px;
	overflow: hidden;
	letter-spacing: 1px;
}

.list_content {
	height: 160px;
	overflow: hidden;
}

.list_content_image {
	height: 120px;
	width: 150px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.list_content_text {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 755px;
	height: 120px;
	color: #331800;
	font-size: 16px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 12px;
	letter-spacing: 3px;
	line-height: 24px;
	overflow: hidden;
}